<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Alex Kadis</title>
    <style>
    body {
        word-break: break-all;
    }
    </style>
</head>
<body>
    <nav class="">
        <ul class="nav navbar-nav">
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-controller="ApiMazes" asp-action="GetMazes">All Mazes</a></li>
            <li><a asp-controller="ApiMazes" asp-action="Random">Random Maze</a></li>

        </ul>
    </nav>

    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>
